body, html{
  height:100%;
  background-image: url('/assets/img/city-background-3-blur.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.main-content{
  background: rgba(255, 255, 255, 0.97);
  overflow: auto;
}
.transparent{
  background-color: transparent !important;
}
.main-wrapper, .containers{
  height:100%;
}

.header{
  background: white !important;
}

.ngdialog-content{
  background: none!important;
  height:100%;
}
.ngdialog{
  position: fixed;
  z-index: 100;
  top:0;
  left:0;
  right:0;

}
.ngdialog-overlay{
  background: white !important;
}

.form-control{
  -webkit-border-radius:0;
  -moz-border-radius:0;
  border-radius:0;
  &:focus{
    box-shadow: none;
  }
}

.bg-gray{
  background: rgba(0,0,0,0.15);
}


.bg-white{
  background: rgba(255,255,255,0.15);
}
.rounded{
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
}
.sky-bg{
  background-image: url('/assets/img/sky-background.jpg');
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.modems{
  h3{
    margin:0;
  }
  .sky-bg{
    box-shadow: rgba(0,0,0,0.2) 0 0 10px inset;
  }
  .download{

  }
}